ul {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  align-items: center;
  list-style: none;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    margin-bottom: 10px;
    margin-top: 10px;
}

.home__text {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    font-size: 45px;
    margin-left: 40px;
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .home {
    box-sizing: border-box;
    width: 390px;
    height: 784px;
    /* border: solid red 1px; */
  }
  .home__text {
    box-sizing: border-box;
    width: 390px;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-left: 0px;
  }
  ul {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    align-items: center;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  li {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: -40px;
  }
  .no-scroll {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    touch-action: none;
  }
}