.notes {
  display: flex;
  
}

.left {
  width: 75%;
}

.right {
  width: 25%;
  border-left: solid 2px blue;
  padding-left: 30px;
  padding-top: 30px;
}


.diagram-img {
  width: 100%;
  display: flex;
  position: relative;
  object-fit: contain;
}


#one {
  position: absolute;
  top: 20.5%;
  right: -10%;
  width: fit-content;
  font-size: 0.5em;
  border: dotted teal 4px;
  text-align: center;
  font-weight: bold;
}


#three {
  position: absolute;
  top: 48%;
  right: -11%;
  width: fit-content;
  font-size: 0.5em;
  border: dotted teal 4px;
  text-align: center;
  font-weight: bold;
}


#four {
  position: absolute;
  top: 54.5%;
  right: -15%;
  width: fit-content;
  font-size: 0.5em;
  border: dotted teal 4px;
  font-weight: bold;
  text-align: center;
}


#five {
  position: absolute;
  top: 60.5%;
  right: -14%;
  width: fit-content;
  font-size: 0.5em;
  border: dotted teal 4px;
  font-weight: bold;
  text-align: center;
}


#seven {
  position: absolute;
  top: 66.5%;
  right: -6%;
  font-size: 0.5em;
  width: fit-content;
  font-weight: bold;
  border: dotted teal 4px;
  text-align: center;
}

.head-img {
  width: 100%;
}

#eight {
  position: absolute;
  top: 72.5%;
  right: -9.5%;
  width: fit-content;
  font-size: 0.5em;
  font-weight: bold;
  border: dotted teal 4px;
  text-align: center;
}

.each_topic_notes.active {
  background-color: teal;
  color: white;
}

.each_topic_notes {
  color: transparent;
}

.notes-title {
  font-size: 30px;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}

.notes-topics {
  font-size: 30px;
  margin-top: 30px;
  display: flex;
  padding-left: 30px;
}

.each_topic_notes {
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  width: 90%;
}

#oneFace {
  position: absolute;
  top: 13%;
  right: 66%;
  width: fit-content;
  font-size: 0.4em;
  border: dotted teal 2px;
  text-align: center;
  font-weight: bold;
}

#twoFace {
  position: absolute;
  top: 20%;
  right: 66%;
  width: fit-content;
  font-size: 0.5em;
  border: dotted teal 2px;
  text-align: center;
  font-weight: bold;
}

#threeFace {
  position: absolute;
  top: 29%;
  right: 66%;
  width: fit-content;
  font-size: 0.5em;
  border: dotted teal 2px;
  text-align: center;
  font-weight: bold;
}

#fourAFace {
  position: absolute;
  top: 34%;
  right: 66.5%;
  width: fit-content;
  font-size: 0.5em;
  border: dotted teal 0.2px;
  font-weight: bold;
  text-align: center;
}

#fourBFace {
  position: absolute;
  top: 53%;
  right: 66%;
  width: fit-content;
  font-size: 6px;
  border: dotted teal 0.1px;
  font-weight: bold;
  text-align: center;
}

#fiveFace {
  position: absolute;
  top: 39%;
  right: 66%;
  width: fit-content;
  font-size: 0.5em;
  border: dotted teal 0.1px;
  font-weight: bold;
  text-align: center;
}
#sixFace {
  position: absolute;
  top: 43%;
  right: 66%;
  width: fit-content;
  font-size: 6px;
  border: dotted teal 0.1px;
  font-weight: bold;
  text-align: center;
}

#sevenFace {
  position: absolute;
  top: 48%;
  right: 66%;
  width: fit-content;
  font-size: 6px;
  border: dotted teal 0.1px;
  text-align: center;
}

#eightFace {
  position: absolute;
  top: 51%;
  right: 66%;
  width: fit-content;
  font-size: 6px;
  border: dotted teal 0.1px;
  text-align: center;
}

#nineFace {
  position: absolute;
  top: 55.5%;
  right: 66%;
  width: fit-content;
  font-size: 6px;
  border: dotted teal 0.1px;
  text-align: center;
}

#tenFace {
  position: absolute;
  top: 58.5%;
  right: 66%;
  width: fit-content;
  font-size: 6px;
  border: dotted teal 0.1px;
  text-align: center;
}

#elevenFace {
  position: absolute;
  top: 64%;
  right: 66%;
  width: fit-content;
  font-size: 6px;
  border: dotted teal 0.1px;
  text-align: center;
}

#twelveFace {
  position: absolute;
  top: 66%;
  right: 66%;
  width: fit-content;
  font-size: 6px;
  border: dotted teal 0.1px;
  text-align: center;
}

#thirteenFace {
  position: absolute;
  top: 70%;
  right: 66%;
  width: fit-content;
  font-size: 6px;
  border: dotted teal 0.1px;
  text-align: center;
}

#fourteenFace {
  position: absolute;
  top: 87%;
  right: 66%;
  width: fit-content;
  font-size: 8px;
  border: dotted teal 0.1px;
  text-align: center;
}
#fifteenFace {
  position: absolute;
  top: 24%;
  right: -9.5%;
  width: fit-content;
  font-size: 8px;
  border: dotted teal 1px;
  text-align: center;
}

#sixteenFace {
  position: absolute;
  top: 28.5%;
  right: -15%;
  width: fit-content;
  font-size: 8px;
  border: dotted teal 1px;
  text-align: center;
}

#seventeenFace {
  position: absolute;
  top: 44.5%;
  right: -20%;
  width: fit-content;
  font-size: 8px;
  border: dotted teal 1px;
  text-align: center;
}

#eighteenFace {
  position: absolute;
  top: 50.5%;
  right: -14.5%;
  width: fit-content;
  font-size: 8px;
  border: dotted teal 1px;
  text-align: center;
}

#nineteenFace {
  position: absolute;
  top: 61.5%;
  right: -10.5%;
  width: fit-content;
  font-size: 8px;
  border: dotted teal 1px;
  text-align: center;
}

#twentyFace {
  position: absolute;
  top: 64.5%;
  right: -9.2%;
  width: fit-content;
  font-size: 8px;
  border: dotted teal 1px;
  text-align: center;
}

#twentyOneFace {
  position: absolute;
  top: 67.5%;
  right: -17%;
  width: fit-content;
  font-size: 8px;
  border: dotted teal 1px;
  text-align: center;
}

#twentyTwoFace {
  position: absolute;
  top: 81%;
  right: -9.5%;
  width: fit-content;
  font-size: 8px;
  border: dotted teal 1px;
  text-align: center;
}

.diagram-img-stern {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 250px;
}

.stern-img {
  display: flex;
  justify-content: center;
}

.stern-img img {
  max-width: 90%;
  display: flex;
  position: relative;
}

.container-scroll {
  box-sizing: border-box;
  width: 90%;
  height: 450px;
  border: 1px solid darkblue;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
}
